body {
  margin: 0;
}

div {
  height: 100px;
  width: 300px;
  margin: 0 auto;
}

#header {
  background-color: blue;
}

.important {
  background-color: red;
}

.interesting {
  background-color: green;
}

.surprising {
  background-color: orange;
}

.important:hover,
.interesting:hover,
.surprising:hover {
  height: 200px;
}

#footer {
  background-color: #000;
}
